.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(15, 1fr);
  position: relative;
  height: 100vh;
  width: 100vw;
}

.grid-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/logonova.png');
  background-size: 100px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.1; /* Controla a opacidade da imagem */
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.square {
  height: 50px; /* Altura fixa de cada quadrado */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Para possibilitar o posicionamento absoluto do ícone */
}

.icon-container {
  position: absolute; /* Posiciona o ícone acima do quadrado */
  top: -30px; /* Ajuste conforme necessário para posicionar o ícone acima */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para centralizar */
}

.icon {
  width: 80px; /* Largura fixa do ícone */
  height: auto; /* Mantém a proporção da imagem */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.associated-icons {
  position: absolute; /* Posiciona os ícones associados em relação ao ícone pai */
  top: 0;
  left: 100%; /* Coloca os ícones associados à direita do ícone pai */
  white-space: nowrap; /* Impede quebra de linha */
  cursor: pointer;
}

.special-icon {
  width: 260px;  /* Largura maior específica */
  height: 130px; /* Altura maior específica */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content button {
  margin-top: 10px;
}

.hover-text {
  position: absolute;
  top: -30px; /* Posiciona o texto acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap; /* Evita quebra de linha */
  opacity: 0; /* Invisível por padrão */
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon-container:hover .hover-text {
  opacity: 1;
  visibility: visible; /* Mostra o texto ao passar o mouse */
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000; /* Eleva os botões acima de outros elementos */
  background-color: #fff; /* Fundo branco para a caixa */
  padding: 15px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra suave */
  display: flex;
  flex-direction: column; /* Empilha os elementos verticalmente */
  gap: 10px; /* Espaço entre os elementos */
}

.position-indicator {
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center; /* Centraliza o texto */
}
.iframe-content{
  width:800px;
  height: 500px;
}

.modal-content button{
  position: fixed;
  left: 1175px;
  color: red;
  border: none;
  font-size: 20px;
  background-color: rgb(150, 150, 150);
  border-radius: 5px;
}
.modal-content{
  width: 55%;
}
#teste{
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#teste2{
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#teste3 {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110%;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.editar-mosaico {
  background: #202959;
  border: none;
  color: #ffffff;
  font-size: 14px;
  width: 110px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-left: -5px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
